* {
  padding: 0;
  margin: 0;
}
  
html, body {
  height: 100%;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  background: rgb(0, 0, 0);
  background-attachment:fixed;
  font-size: 1rem;
}

h2 {
  line-height: 50px;
  font-weight: 500;
  font-style: normal;
  color: white;
}

h3 {
  font-weight: 400;
  font-style: normal; 
}

a, a:visited, a:active {
  text-decoration: none;
  color: #F2EDE7;
}

a:hover {
  text-decoration: none;
}

.container_main {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  padding: 5px;
}

.container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex: 0 1 250px;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 5px;
  background-color: rgba(49,51,58,.5);
  backdrop-filter: blur(5px);
  margin: 10px;
  border-radius: 5px;
}

.container_header {
  text-align: left;
  margin: 5px 0 5px 5px;
}

.link {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  
}

.linkname {
  padding: 0 15px 0 15px;
  float: right;
  text-align: left;
  word-wrap: break-word;
}

.linkicon {
  width: 24px;
  height: auto;
  margin: 0 10px;
  background-color: rgb(212, 209, 209);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.no-touch .link:hover {
  color: rgba(255, 174, 0, 1);
}

.no-touch .link:hover img {
  color: rgba(38, 38, 38, 1);
  box-shadow: 0px 0px 15px rgba(255, 174, 0, 0.7);
}